{% extends 'base.html' %}
{% block title %}Personal Order{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                    <th>Sr. No.</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Discount</th>
                    <th class="text-center">Price<br>(After Discount)</th>
                    <th class="text-center">Color</th>
                    <th class="text-center">Origin<br>Country</th>
                </thead>
                <tbody>
                    {% for key, product in orders_query.orders.items() %}

                    {% set discount_in_currency = '%0.2f'|format((product.unit_discount/100) * product.unit_price|float) %}
                    {% set full_price = product.quantity|int * product.unit_price|float %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-center">{{ product.name }}</td>
                                                                <!-- THIS key IS DEFINED ABOVE -->
                        <form action="" method="POST">
                            <td class="text-center">{{ full_price }}</td>
                            <td class="text-center"><input type="number" name="quantity" min="1" max="10" value="{{ product.quantity }}"></td>
                            {% if product.unit_discount > 0 %}
                            <td class="text-center">{{ product.unit_discount }}%</td>
                            {% else %}
                            <td class="text-center">No discount</td>
                            {% endif %}
                            <td class="text-center">{{ '%0.2f'|format((full_price|float) - discount_in_currency|float) }}€</td>    
                            <td>{{ product.color }}</td>   
                            <td>{{ product.origin_country }}</td>
                        </form>                        
                    {% endfor %}
                    <tr>
                        <td colspan="2"><h5>Tax (0.6%): {{ tax }} €</h5></td>
                        <td colspan="5"><h5>Pay Total: {{ pay_total }} €</h5></td>  
                        <td>
                            <form action="{{ url_for('customer_route.get_pdf', code=orders_query.code) }}" method="POST">
                                <button type="submit" class="btn btn-info">Get PDF</button>
                            </form>
                        </td>                        
                    </tr>
                </tbody>
            </table>
            <div class="card border-primary mb-3" style="max-width: 20rem; margin: auto;">
                <div class="card-body">
                  <h4 class="card-title">{{ customer_query.first_name +' '+ customer_query.last_name}}</h4>
                  <hr>
                  <h6 class="card-text">Delivery Status:</h6>
                  <p class="card-text">{{ orders_query.status }}</p>
                  <h6 class="card-text">Delivery Code:</h6>
                  <p class="card-text">{{ orders_query.code }}</p>
                  <h6 class="card-text">Customer Email:</h6>
                  <p class="card-text">{{ customer_query.email }}</p>
                  <h6 class="card-text">Customer Address:</h6>
                  <p class="card-text">{{ customer_query.current_address }}</p>
                  <h6 class="card-text">Customer Zip-Code:</h6>
                  <p class="card-text">{{ customer_query.zip_code }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
