<!-- NAVBAR -->

<div class=container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('products.store') }}">Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_route.admin_logout') }}" style="position:absolute; right:25%;">Logout</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add</a>
                        <div class="dropdown-menu">          
                            <a class="dropdown-item" href="{{ url_for('admin_route.add_product') }}">Product</a>      
                            <a class="dropdown-item" href="{{ url_for('admin_route.add_brand') }}">Brand</a>
                            <a class="dropdown-item" href="{{ url_for('admin_route.add_category') }}">Category</a>
                        </div>
                    </li>  
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Edit</a>
                        <div class="dropdown-menu">                            
                            <a class="dropdown-item" href="{{ url_for('admin_route.brands') }}">Brand</a>
                            <a class="dropdown-item" href="{{ url_for('admin_route.categories') }}">Category</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_route.admin_view_edit') }}">Products</a>       
                    </li>                      
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_route.admin_dashboard') }}">Dashboard</a>       
                    </li>    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_route.admin_view_suppliers') }}">Suppliers</a>       
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_route.login') }}"style="position:absolute; right:25%;">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_route.register') }}"style="position:absolute; right:30%;">Register</a>
                    </li>
                    {% endif %}       
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- NAVBAR -->
